name: Runtests (Julia nightly)

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/Runtests-Julia-nightly.yml'
      - 'src/**'
      - 'ext/**'
      - 'test/**'
      - 'Project.toml'
  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/workflows/Runtests-Julia-nightly.yml'
      - 'src/**'
      - 'ext/**'
      - 'test/**'
      - 'Project.toml'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  test:
    name: ${{ matrix.os }} - ${{ matrix.arch }} ( ${{ matrix.group }} )
    runs-on: ${{ matrix.os }}
    permissions: # needed to allow julia-actions/cache to delete old caches that it has created
      actions: write
      contents: read
    if: ${{ !github.event.pull_request.draft }}
    strategy:
      fail-fast: false
      matrix:
        julia-version:
          - 'nightly'
        os:
          - 'ubuntu-latest'
        arch:
          - 'x64'
        group:
          - 'Core'
          - 'Code_Quality'

    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        env:
          GROUP: ${{ matrix.group }}
